body {
    margin: 0;
    text-align: center;
}

header {
    background-color: cornsilk;
}

hr {
    
    border-style: none;
    border-top-style: dotted;
    border-width: 2px;
    width: 25px;    
    height: 25px;
}

.name {
    font-size: 64px;
    margin-top: 0;
    padding-top: 75px;
}

.subtitle {
    font-family: "Indie flower", cursive;
    font-size: 48px;
    margin-bottom: 0;
}

.cloud1 {
    position: absolute;
    right: 600px;
    top: 60px;    
}

.cloud2 {
    position: absolute;
    left: 600px;
    top: 325px;
}

.centered {
    text-align: center;
}

.margin {margin: 12px;}

/* .middle-container {

}

.bottom-container {

} */

/* SECTION-ING */

/* POSITION-ING */

.position-static {position: static} /* This is the default for all HTML elements. */

.position-relative {position: relative} /* Change the position RELATIVE to element's static position;
must use top, bottom, left, right to specify this relation */

.position-absolute {position: absolute} /* Confusingly named, but this is actually relative to its parent; 
usually, the entire PAGE is the parent when we use this type of positioing */

/* FLEXBOX */

.flex {display: flex;} /* Defines the container; enables FB for all direct children */

.flex-direction {flex-direction: row} /* main axis for items; also: row-reverse, column, column-reverse */

.flex-wrap {flex-wrap: nowrap;} /* nowrap is the default, wrap and wrap-reverse also possible */

.flex-flow {flex-flow: row nowrap}/* shorthand combining DIRECTION and WRAP properties of container */

.flex-start {justify-content: flex-start;} /* items are packed toward the start of the flex direction */

.flex-end {justify-content: flex-end;} /* packed toward the left */

.flex-center {justify-content: center;}  /* items centered along line */

.flex-between {justify-content: space-between;} /* items spaced evenly, with items on start and end lines */

/*  */

.max-width {max-width: 750px;}

.h3-mx4 {margin-bottom: 4px;}

/* #article1 {
    background-color: darkkhaki;
} */


